# Ignore Java build files
/build/
*.class

# Ignore IntelliJ IDEA specific files
.idea/

# Ignore Gradle files
.gradle/
gradle/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore Maven dependency directory
/target/

# google credentials
tokens/
src/main/resources/credentials.json

src/main/java/CalendarQuickstart.java
src/main/java/DocsQuickstart.java
src/main/java/GmailQuickstart.java

src/main/gen/*

gradle/*